body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
p {
    font-size: 12px;
}

img {
    max-width: 100%;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/*-------------------------
    商品一覧ページ
-------------------------*/
.product-list {
    margin-bottom: 3%;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.productsBox {
    padding: 10px;
}

.price {
    font-weight: bold;
}

#sort-select {
    margin-top: 10px;
    padding: 5px;
}

.star {
    color: orange;
}

.productsImg {
    width: 100%;
}
/*-------------------------
    商品詳細ページ
-------------------------*/
.return {
    margin: 1% 1%;
}

h3 {
    font-weight: normal;
}

.reviewsContainer {
    padding: 1% 0;
    background-color: #e0e0e0;
}

button {
    background-color: rgb(255, 178, 71);
    margin: 1% 0;
    padding: 1%;
    font-weight: bold;
    border: none;
}